name: CI/CD

on:
  push:
    branches: [main, master]
    paths-ignore:
      - README.md
  pull_request:
    branches: [main, master]
    paths-ignore:
      - README.md

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Restore dependencies
      run: msbuild MouseJiggler.sln /t:Restore /p:Configuration=Release /p:RuntimeIdentifier=win-x64

    - name: Build binary
      run: msbuild MouseJiggler.sln /t:Publish /p:Configuration=Release /p:PublishSingleFile=true /p:RuntimeIdentifier=win-x64 /p:SelfContained=false
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Binary
        path: |
          MouseJiggler/bin/Release/net8.0-windows7.0/win-x64/publish/MouseJiggler.exe